<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Адмін панель</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/rasta.css') }}">
</head>
<body>

  {% include '_admin_navigation.html' %}

  <nav>
    <ul class="admin-nav">
      <li><a href="{{ url_for('menu_check') }}">Перевірка меню</a></li>
      <li><a href="{{ url_for('reservations_check') }}">Бронювання</a></li>
      <li><a href="{{ url_for('all_users') }}">Користувачі</a></li>
      <li><a href="{{ url_for('add_position') }}">Додати позицію</a></li>
    </ul>
  </nav>

  <form action="{{ url_for('home') }}">
      <button class="admin-button" type="submit">На головну</button>
  </form>

</body>
</html>