<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8" />
    <title>Профіль користувача</title>
</head>
<body>
    <h1>Профіль користувача</h1>
    <p><strong>Нікнейм:</strong> {{ user.nickname }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>ID:</strong> {{ user.id }}</p>
    <a href="{{ url_for('my_orders') }}" class="btn btn-info"><button type="button">Мої замовлення</button></a>
    <a href="{{ url_for('menu') }}" class="btn btn-primary"><button type="button">Зробити замовлення</button></a>
    <!-- Кнопка выхода удалена по просьбе пользователя -->
{% if basket %}
    <div>
        <h4>Ваш кошик:</h4>
        <ul>
            {% for name, quantity in basket.items() %}
                <li>{{ name }}: {{ quantity }} шт.</li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('create_order') }}" class="btn btn-success">Оформити замовлення</a>
    </div>
{% endif %}
</body>
</html>